:root {
  --primary: rgb(255, 238, 0);
  --bg: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
}

body {
  font-family: "Sarabun", sans-serif;
  background-color: var(--bg);
  color: white;
  min-height: 2000px;
}

/* navbar */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 200;
  color: white;
}

.navbar .navbar-logo span {
  color: var(--primary);
  font-family: "Tangerine";
  font-size: 2rem;
  font-weight: 700;
}

.navbar .navbar-nav {
  position: absolute;
  right: 6%;
}

.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 200;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: white;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

.home {
  background: linear-gradient(
    140deg,
    rgb(2, 22, 116),
    rgb(2, 22, 116) 50%,
    rgb(1, 5, 41) 50%,
    rgb(1, 5, 41)
  );
  overflow: hidden;
  min-height: 100vh;
  margin: 0;
  text-align: center;
  padding-top: 15rem;
  padding-bottom: 10rem;
}

@property --gap {
  syntax: "<length>";
  inherits: true;
  initial-value: 0;
}
@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

img {
  --border: 15px;
  --gap: 12px;
  --color: #fa6900;

  width: 200px;
  aspect-ratio: 1;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 20px;
  cursor: pointer;
  padding: calc(var(--border) + var(--gap));

  --angle: 90deg;
  background: radial-gradient(farthest-side, var(--color) 97%, #0000 101%)
      85.35% 85.35%,
    conic-gradient(
      from calc(180deg - var(--angle) / 2),
      #0000 var(--angle),
      var(--color) 0
    ),
    radial-gradient(farthest-side, var(--color) 97%, #0000 101%) 14.65% 85.35%;
  background-size: var(--border) var(--border), auto;
  background-repeat: no-repeat;

  -webkit-mask: radial-gradient(
    farthest-side,
    #000 calc(99% - calc(var(--border) + var(--gap))),
    #0000 calc(100% - calc(var(--border) + var(--gap)))
      calc(99% - var(--border)),
    #000 calc(100% - var(--border))
  );
  mask: radial-gradient(
    farthest-side,
    #000 calc(99% - calc(var(--border) + var(--gap))),
    #0000 calc(100% - calc(var(--border) + var(--gap)))
      calc(99% - var(--border)),
    #000 calc(100% - var(--border))
  );
  transition: --angle 0.4s, --gap 0.4s;
}
img:hover {
  --angle: 0deg;
  --gap: 5px;
}

.home h2 {
  font-size: 4rem;
  font-family: "Tangerine";
  text-align: center;
  color: white;
}

.home p {
  font-size: 1.5rem;
  color: var(--primary);
  text-align: center;
  font-weight: 100;
}

/* Rsponsive */
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 85%;
  }
}
/* tablet */
@media (max-width: 768.5px) {
  html {
    font-size: 75%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .home {
    padding-top: 25rem;
    padding-bottom: 20rem;
  }

  .home img {
    width: 150px;
  }
}

/* hp */
@media (max-width: 450px) {
  html {
    font-size: 65%;
  }

  .home {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .home img {
    display: block;
    margin: auto;
    margin-top: 3rem;
    width: 130px;
  }
}
